* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* Header Section start */
#btn {
  padding: 10px 25px;
  background-color: orange;
  color: white;
  border: none;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
}
#btn:hover {
  background-color: violet;
  color: white;
}
.mission-color {
  color: orange;
}
#flexible {
  display: flex;
  padding: 30px;
}
#comon-width {
  width: 50%;
}
.header-section p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header-section-left {
  margin-left: 5%;
  margin-top: 5%;
}
.header-title {
  border-left: 5px solid orange;
}
#h-title {
  font-size: 40px;
  margin-left: 10px;
}
.header-section-right img {
  margin-left: 50px;
  margin-top: 30px;
  width: 70%;
}
/* Header Section End */
/* body Section One Start */
.body-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}
.column {
  padding: 20px;

  color: rgb(43, 33, 33);
  border-radius: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
}
.column img {
  width: 60%;
}
.column h1 {
  margin: 10px;
}
.column p {
  margin: 10px;
}
/* Body Section One End */
/* Body Section two Start */
.body-section-two {
  background-image: url(../pictures/shape-1.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 300px;
}
.body-section-two-lift {
  margin-left: 5%;
}
.body-section-two-lift img {
  border-radius: 30px;
  width: 60%;
}
.body-section-two-right {
  margin-left: -10%;
}
.body-section-two-right h1 {
  font-size: 40px;
}
.comon-margin {
  margin-top: 30px;
}
/* Body Section two End */
/* Body Section Three Start */
.body-section-three {
  background-image: url(../pictures/shape-1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 200px;
}
.body-section-three-left {
  margin-left: 5%;
}
.body-section-three-right img {
  width: 60%;
  margin-left: 100px;
}
/* Body Section Three End */
/* Footer Start */
footer {
  background-color: rgb(37, 32, 32);
  height: 100px;
  color: white;
  text-align: center;
  padding: 30px;
}
footer h5 {
  padding: 20px;
}
/* Footer End */
