* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* Header Section start */
.btn {
  padding: 10px 25px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.mission-color {
  color: orange;
}
#flexible {
  display: flex;
  padding: 30px;
}
/* .common-p {
  margin-top: 20px;
  margin-bottom: 10px;
} */
.header-section p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header-section-left {
  width: 50%;
  margin-left: 5%;
  margin-top: 5%;
}
.header-title {
  border-left: 5px solid orange;
  font-size: 30px;
  padding: 20px;
}
.header-section-right {
  width: 50%;
}
.header-section-right img {
  width: 70%;
}
/* Header Section End */
/* body Section One Start */
.body-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}
.column {
  padding: 20px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 40px;
}
.column img {
  width: 60%;
}
.column h1 {
  margin: 10px;
}
.column p {
  margin: 10px;
}
/* Body Section One End */
